.list-goal{
    font-size: 24px;
}
.list-goal span{
    vertical-align: middle;
    font-size: 32px;
    color: darkred;
}

.add-goal{
    margin: 15px;
}

.add-btn{
    margin-top: 15px;
}

.section-todo{
    background-color: aliceblue;
}

.del-goal{
    visibility: hidden;
}

.list-goal:hover .del-goal{
    visibility: visible;
}